html { 
    background: url("image/fond.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.header{
    display: flex; 
    justify-content: center;
    
}

nav ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a{
    font-size: 50px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.1rem;
}

ul li a:hover{
    color: #f1f1f1;
    text-decoration:wavy;
}
.menu li{
    display: flex;
    padding: 50%;
    align-items: center;
    justify-content: center;
}

.menu li a{
text-decoration: none;
}


body h2 {
    margin-right: 15px;
    display: flex;
    justify-content: right;
}